
body{
    font-family: "Montserrat",sans-serif;
}

*{
    outline: none;
}

html{
    scroll-behavior: smooth;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}


h1,
h2,
h3,
h4,
h5{
    font-family: 'Rowdies', cursive;
}


h1{
    font-size: 96px;
    line-height: 119px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FE3B1F;
}


h2{
    font-size: 64px;
    line-height: 79px;
    display: flex;
    align-items: center;
    text-align: center; 
    color: #FE3B1F;
}


:root{
    --color-bg: #0C0D0E;
    --color-red: #FE3B1F; 
    --color-white: #ffffff;
}


/* =========================== WELCOME SECTION ===================== */
.welcome-section{
    height: 100vh;
    background:var(--color-bg);
    background-image: url(/assets/stars.png);
    overflow: hidden;
}


.welcome__contiainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome__contiainer h1{
    margin-top: 175px;
}

.welcome__contiainer button{
    margin-top: 105px;
    width: 395px;
    height: 79px;
    border-radius: 50px;
    border: none;
    background: var(--color-red);
    font-size: 24px;
    color: var(--color-white);
}

.welcome__contiainer a{
    margin-top: 18px;
    color: var(--color-white);
    text-decoration: underline;
    font-family: "Montserrat",sans-serif;
    font-size: 24px;
    font-weight: normal;
}




/* =========================== COORDINATE SECTION ===================== */
.coordinate-section{
    height: 100vh;
    background: linear-gradient(90deg, var(--color-white) 50%, var(--color-bg) 50%);
}



.coordinate__container{
    padding-top: 130px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}



.coordinate__form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-50px);
}



.coordinate__form form{
    display: flex;
    flex-direction: column;
    margin-top: 131px;
}



.input{
    width: 455px;
    height: 54px;
    border: 1px solid #525557;
    padding-left: 57px;
}


/* Error styles  */
.error__alert{
    font-size: 11px;
    font-style: italic;
    line-height: 13px;
    color: var(--color-red);
    margin-top: 5px;
    margin-bottom: 14px;
    padding-left: 57px;
    visibility: hidden;
}


.input__alert{
    border: 1px solid var(--color-red);
}

.coordinate__form input::placeholder{
    font-size: 14px;
    line-height: 17px;
    color: #454545;
}





.coordinate__redberry-text{
    width: 40%;
    display: flex;
    flex-direction: column;
}



.coordinate__redberry-text p {
    margin-top: 131px;
    font-size: 24px;
    line-height: 200%; 
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: var(--color-white);
}

/* Paggination */
.paggination{
    margin-top: 100px;
}

.pagination__container{
    display: flex;
    align-items: center;
    justify-content: center;
}


.pagination__container p{
    margin-left: 18px;
}

.paggination__button{
    padding: 4px;
    border: 2px solid var(--color-red);
    border-radius: 50%;
    color: var(--color-red);
    font-size: 12px;
}

.paggination__circle{
    color: #FE3B1F;
    opacity: 0.1;
}
.paggination__circle-active{
    color: #FE3B1F;
    opacity: 1;
}

/* ===================================== SKILLS SECTION ==================== */
.skill-section{
    height: 100vh;
    background: linear-gradient(90deg, var(--color-white) 50%, var(--color-bg) 50%);
}

.skill__container{
    padding-top: 130px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.skill__select{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill__inputs{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.skill__input{
    width: 455px;
    height: 54px;
    border: 1px solid #525557;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 57px;
    margin-bottom: 31px;
    position: relative;
}

.skill__input span{
    font-size: 14px;
    line-height: 17px;
    font-style: italic;
}

.skill__inputs button{
    font-size: 12px;
    line-height: 15px;
    color: var(--color-white);
    background: var(--color-red);
    height: 32px;
    padding: 5px;
    border: none;
}


.dropdown__list{
    position: absolute;
    left: 0%;
    top: 100%;
    background: var(--color-white);
    width: 100%;
    z-index: 1;
    border: 1px solid #525557;
    padding: 10px;
   
}

.skill__input i{
    color: var(--color-red);
}

.skill__experience-text{
    color: #727272;
}
